:root {
  --red: #c60021;
  --grey: #e3e3e3;
  font-size: 62.5%;
}
body {
  background: var(--grey);
  color: #000;
}
.App {
  margin: 8rem 0 0 8rem;
  text-align: center;
  font-family: "Headland One", serif;
}
/* NAVIGATION */
.navbar {
  background: #fff;
  height: 8rem;
  font-size: 2rem;
  padding: 0%;
  z-index: 1;
}
.navbar-toggler {
  margin: 2rem;
}
#responsive-navbar-nav {
  background: #fff;
}
.nav-link:hover {
  color: var(--red) !important;
}

/* GENERAL STYLING */
.home,
.about,
.contact,
.skills,
.projects {
  padding: 0%;
}
.sidebar {
  padding: 0%;
  width: 8rem;
  height: 100vh;
  background: #fff;
}
.sub-heading {
  color: var(--red);
  font-size: 5rem;
}
.section-title {
  color: var(--red);
  font-size: 3.8rem;
}
/* HOME PAGE */
.icon {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #868e96;
}
.icon:hover {
  color: var(--red);
}
.home-main {
  height: 100vh;
  background: var(--grey);
  padding: 7rem;
}
.main-text {
  font-size: 8em;
}
.sub-text-italics {
  font-size: 1.8rem;
}
.sub-text {
  color: var(--red);
  font-weight: 400;
  font-size: 2rem;
}
/* ABOUT */
.about-me {
  padding: 5rem;
  text-align: justify;
  font-size: 1.8rem;
  margin: 0%;
}
/* SKILLS PAGE */
.html {
  color: #f16529;
}
.css {
  color: #264de4;
}
.js {
  color: #f0db4f;
}
.bootstrap {
  color: #9933cc;
}
.react {
  color: #61dbfb;
}
.npm {
  color: #c60021;
}
.skills-icon {
  font-size: 3rem;
}
.skill {
  text-align: left;
  background: #fff;
  margin-bottom: 2rem;
  padding: 1.8rem;
  transition: transform 0.1s;
}
.skill:hover {
  transform: scale(1.02);
}
.skill-title {
  color: var(--red);
  font-size: 2rem;
}
.skill-items {
  font-size: 1.8rem;
}
/* PROJECTS */
.card {
  margin: 3rem;
  padding: 2.5rem;
  width: 35rem;
  height: 35rem;
  box-shadow: 0 0.7rem 0.4rem -0.6rem black;
}
.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.project {
  text-align: center;
}
.card-img-overlay {
  opacity: 0;
  color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.card-img-overlay > * {
  padding-bottom: 1.5rem;
}
.card-text {
  font-size: 1.5rem;
}
.card-link {
  color: #fff;
  font-weight: 800;
  background: var(--red);
  padding: 1rem;
  border-radius: 5%;
}
.card:hover {
  box-shadow: none;
}
.card-img-overlay:hover {
  opacity: 1;
  background: rgb(0, 0, 0, 0.8);
}
.card-link:hover {
  color: #fff;
}
/* CONTACT  */
.contact {
  font-size: 1.8rem;
}
#formBasicEmail {
  font-size: 1.4rem;
}
.btn {
  font-size: 1.8rem;
  margin-top: 2rem;
  padding: 0.8rem;
}
.resume {
  margin: 5rem;
}
.resume-link {
  font-size: 1.4rem;
  padding: 1rem;
  background: var(--red);
  border-radius: 0.5rem;
  color: #fff;
  text-decoration: none;
}
.resume-link:hover {
  text-decoration: none;
  color: var(--red);
  border: 0.15rem solid var(--red) !important;
  background: #fff;
}

/* MEDIA QUERIES */

@media (min-width: 320px) and (max-width: 600px) {
  .App {
    margin: 0;
  }
  .sidebar {
    display: none;
  }
  .navbar {
    font-size: 1.3rem;
  }
  .section-title {
    margin-top: 5rem;
    font-size: 2.2rem;
  }
  .icon {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .icon:hover {
    color: var(--red);
  }
  .home-main {
    height: 100vh;
  }
  .main-text {
    font-size: 5em;
  }
  .sub-text-italics {
    font-size: 1.1rem;
  }
  .sub-text {
    color: var(--red);
    font-weight: 400;
    font-size: 1.5rem;
  }
  .about-me {
    text-align: justify;
    font-size: 1.4rem;
    padding: 2rem;
  }
  .skills-icon {
    font-size: 1rem;
  }
  .skill {
    margin-bottom: 1rem;
    padding: 0.3rem;
  }
  .skill-title {
    font-size: 1.8rem;
  }
  .skill-items {
    font-size: 1.2rem;
  }
  .card {
    margin: 1rem;
    padding: 2rem;
    width: 25rem;
    height: 25rem;
  }
  .sub-heading {
    font-size: 2.2rem;
  }
  .contact {
    font-size: 1.4rem;
  }
  .btn {
    font-size: 1.1rem;
  }
  .resume-link {
    font-size: 1.1rem;
  }
}
