:root {
  --red: #c60021;
  --grey: #e3e3e3;
}
body {
  background: var(--grey);
  color: #000;
}
.App {
  margin: 2.2rem 0 0 2.2rem;
  text-align: center;
  font-family: "Headland One", serif;
}
/* NAVIGATION */
.navbar {
  background: #fff;
  padding: 0%;
  height: 3.4rem;
}
.nav-link:hover {
  color: var(--red) !important;
  border-bottom: 0.3rem solid var(--red);
}

/* HOME PAGE */
.home {
  padding: 0%;
}
.home-sidebar {
  width: 3.4rem;
  height: 100vh;
  background: #fff;
}
.icon {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #868e96;
}
.icon:hover {
  color: var(--red);
}
.home-main {
  height: 100vh;
  background: var(--grey);
  padding: 7rem;
}
.home-main h1 {
  font-size: 4rem;
}
.sub-text {
  color: var(--red);
  font-weight: 600;
  font-size: 1.2rem;
}
.arrowBtn {
  transition: transform 0.2s;
}
.arrowBtn:hover {
  background: var(--red);
  color: #fff;
  width: 1.5rem;
  padding: 0.1rem;
  transform: scale(1.5);
}
